@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

footer {
  font-family: 'Alegreya Sans', sans-serif;
}



.footer {
  background: linear-gradient(to left, #40b47a, #0db994);
  display: flex;
  margin-top: 6.5%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}


/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #000000;
}

footer a {
  color: #000000;
  text-decoration:none;
}

footer img{
    height: 60px;
    width: 60px;
}

footer a:hover, footer a:focus {
  color: #000000;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #d1d2d2;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #000000;
    padding: 0.7em 1em;
}

footer .col-md-2 i{
    margin-right: 30px;
}