* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    padding: 1em;
    background: linear-gradient(to left, #40b47a, #0db994);
}

nav img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

nav .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;    
      
}

nav .menu, li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
  }

